<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Book Review Application</h1>
  <p>Navigate to the CRUD sections below:</p>

  <ul>
    <li><a href="<%= authors_path %>">Authors</a></li>
    <li><a href="<%= books_path %>">Books</a></li>
    <li><a href="<%= reviews_path %>">Reviews</a></li>
    <li><a href="<%= sales_path %>">Sales</a></li>
  </ul>
  <p>Or check out the many different statistics we offer:</p>
  <ul>
    <li><a href="/top_sellings">Top Selling Books</a></li>
    <li><a href="<%= "/top_rated" %>">Top Rated Books</a></li>

    <div>
       <%= image_tag "home_image.jpg", alt: "Home Image", class: "home-page-image" %>
  </div>
</ul>
</body>
</html>
