<div id="<%= dom_id book %>">
  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>
  <% if @book.cover.attached? %>
    <%= image_tag url_for(@book.cover), alt: @book.name, size: "400x400" %>
  <% else %>
    <p>No cover image available</p>
  <% end %>
  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Date of publication:</strong>
    <%= book.date_of_publication %>
  </p>

  <p>
    <strong>Number of sales:</strong>
    <%= book.number_of_sales %>
  </p>

</div>
